<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>599427370169-0s3h0lhqn9kknvjsknt76j9pvdamnkf4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.599427370169-0s3h0lhqn9kknvjsknt76j9pvdamnkf4</string>
	<key>API_KEY</key>
	<string>AIzaSyCMt1ttQl2IFVdRNEYKU577HuTzEQyKbyY</string>
	<key>GCM_SENDER_ID</key>
	<string>599427370169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.travelticket.dev</string>
	<key>PROJECT_ID</key>
	<string>travelticket-406ce</string>
	<key>STORAGE_BUCKET</key>
	<string>travelticket-406ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599427370169:ios:86846c08c7acc003de9f68</string>
</dict>
</plist>